<header id='header'>
  <h1 id='logo'> MoneyPlanner </h1>

  <form id='add-account'>
    {{input type=text value=accountName placeholder='account name'}}
    <button {{action 'addAccount'}}> Add Account </button>
  </form>
</header>

<main>
  {{#each model.accounts as |account|}}
    <article class='account'>

      <header>
        <span> $ {{account.total}} </span>
        <h3> {{account.name}} </h3>
      </header>

      <form class='add-item'>
        {{input class='name' type=text value=account.itemName placeholder='Item Name'}}
        {{input class='amount' type='number' value=account.itemAmount placeholder='Amt/Month'}}
        <button {{action 'addItem' account}}> add </button>
      </form>

      <table>
        <tbody>
          {{#each account.items as |item|}}
            <tr class='{{incomeExpense item.amount}}'>
              <td> {{item.name}} </td>
              <td class='amount'> {{item.amount}} </td>
              {{#if item.toAccount}}
                <td> ({{item.toAccount}}) </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div id='subtotal'>
        <span class='income'>{{account.totalIncome}}</span>
        /<span class='expense'>{{account.totalExpenses}}</span>
      </div>

    </article>
  {{/each}}
</main>
