<header id='header'>

  <h1 id='logo'> MoneyPlanner </h1>

  <form id='add-account'>
    {{input type=text value=accountName placeholder='account name'}}
    <button {{action 'addAccount'}}> Add Account </button>
  </form>

</header>

<main>

  <table id='projections'>
    <thead>
      <tr>
        <th class='name'> Account </th>
        {{#each months as |month|}}
          <th> month {{month}} </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each model.accounts as |account|}}
        <tr>
          <td class='name'>{{account.name}}</td>
          {{#each months as |month|}}
            <td class={{incomeExpense (product account.total month)}}>
              $ {{product account.total month}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <section id='new-item'>
    <form>
    <select onchange={{action (mut itemAccountId) value='target.value'}}>
        {{#each model.accounts as |account|}}
          <option value={{account.id}} selected={{eq account.id itemAccountId }}>
            {{account.name}}
          </option>
        {{/each}}
      </select>
      {{input class='name' type=text value=itemName placeholder='Item Name'}}
      <select onchange={{action (mut transferAccountId) value='target.value'}}>
        <option >No Transfer</option>
        {{#each model.accounts as |account|}}
          <option value={{account.id}} selected={{eq account.id transferAccountId }}>
            {{account.name}}
          </option>
        {{/each}}
      </select>
      {{input class='amount' type='number' value=itemAmount placeholder='Amt/Month'}}
      <button {{action 'add'}}> add </button>
    </form>
  </section>

  <section id='accounts'>
  {{#each model.accounts as |account|}}
    <article class='account'>

      <header>
        <h2>
          {{account.name}}
          <span> $ {{account.total}} </span>
        </h2>
      </header>

      <form class='add-item'>
        {{input class='name' type=text value=account.itemName placeholder='Item Name'}}
        {{input class='amount' type='number' value=account.itemAmount placeholder='Amt/Month'}}
        <button {{action 'addItem' account}}> add </button>
      </form>

      <table>
        <tbody>
          {{#each account.orderedItems as |item|}}
            {{#account-item model=item account=account as |accountItem|}}
              <td> {{accountItem.model.name}} </td>
              <td class='amount'> {{accountItem.amount}} </td>
            {{/account-item}}
          {{/each}}
        </tbody>
      </table>

      <div class='subtotal'>
        <span class='income'>{{account.allIncome}}</span>
        /<span class='expense'>{{account.allExpenses}}</span>
      </div>

    </article>
  {{/each}}
  </section>

</main>
